/******
Common Rules
*******/
body {
  height: 100vh;
}
/* colori */

.bg_mainblue {
  background-color: #141922;
}
.bg_darkgrey {
  background-color: #282828;
}
.text_grey {
  color: #6d6d6d;
}
.grey {
  color: #d2d2d2;
}
.dark_grey {
  color: #a3a3a3;
}
.green {
  color: #a5ea34;
}

.unstile {
  list-style: none;
}

/* testi */
.text_small {
  font-size: 0.9rem;
}

/******************
HEADER
*******************/

/*******************
MAIN
********************/

#site_main {
  height: calc(100% - 60px);
  width: 100%;
  position: relative;
}

/* barra fissa in alto */

.top_bar {
  position: fixed;
  top: 0;
  right: 0;
  width: calc(100% - 200px);
  background: rgba(0, 0, 0, 0.342);
  /* z-index: 2; */
}

.top_bar .btn {
  font-size: 1rem;
  font-weight: 600;
}
.top_bar .btn:hover {
  transform: scale(1.15);
}
.top_bar .btn-outline-light:hover {
  color: white;
  background-color: transparent;
}

/* barra di navigazione laterale */

.sidebar {
  min-height: 100%;
  width: 200px;
  background: black;
  overflow-y: hidden;
}

.sidebar .logo img {
  max-width: 70%;
  height: auto;
}

.sidebar .nav_main li,
.sidebar .playlist li {
  display: flex;
  align-items: center;
  padding: 0.25rem 0;
}
.sidebar .nav_main li a,
.sidebar .playlist li a,
.sidebar .personal a {
  text-decoration: none;
  color: #6d6d6d;
  font-size: 0.75rem;
}
.sidebar .nav_main li:hover a,
.sidebar .playlist li:hover a,
.sidebar .personal a:hover {
  color: white;
}

.sidebar .nav_main li.active {
  margin-left: -1.35rem;
  border-left: 3px solid #a5ea34;
  padding-left: 1.35rem;
}
.sidebar .nav_main li.active a {
  color: white;
}

.sidebar .nav_main li img {
  width: 25px;
  opacity: 0.85;
}

.add::before {
  content: "\002B";
  background-color: #a3a3a3;
  color: black;
  padding: 0 10px;
  font-size: 1.25rem;
  margin-right: 1rem;
}

.sidebar .playlist {
  overflow-y: auto;
  min-height: 50%;
}

.sidebar .personal {
  overflow-y: hidden;
}
.sidebar .personal > a {
  border-bottom: 1px solid grey;
  padding: 5px;
}
.sidebar .personal img {
  padding: 2px;
  height: auto;
  width: 30px;
  border-radius: 50%;
  background-color: #6d6d6d;
}

/* main content */
section.content {
  padding: 50px;
  height: 100%;
  width: calc(100% - 200px);
  overflow-y: auto;
}

/* modifica scrollbar */
.content::-webkit-scrollbar {
  background-color: #f1f1f1;
}

.content::-webkit-scrollbar-thumb {
  background-color: #c1c1c1;
  border-radius: 10px;
  height: 70vh;
}

/*******************
FOOTER
********************/
footer {
  height: 60px;
}

/* media query per altezza view.port */

@media screen and (max-height: 375px) {
}
