/******
Common Rules
*******/

/* colori */

.bg_mainblue {
  background-color: #141922;
}
.bg_darkgrey {
  background-color: #282828;
}
.text_grey {
  color: #6d6d6d;
}
.grey {
  color: #d2d2d2;
}
.dark_grey {
  color: #a3a3a3;
}
.green {
  color: #a5ea34;
}

/******************
HEADER
*******************/
header {
  left: 60px;
  width: calc(100% - 60px);
  /* height: 60px; */
  background: rgba(0, 0, 0, 0.342);
  z-index: 2;
}

header,
.sidebar {
  position: fixed;
  top: 0;
}

header > .container {
  max-width: 100%;
}

header .row {
  padding: 20px;
}

header .btn {
  font-size: 0.75rem;
  font-weight: 600;
}
header .btn:hover {
  transform: scale(1.15);
}
header .btn-outline-light:hover {
  color: white;
  background-color: transparent;
}

/*******************
MAIN
********************/
.sidebar {
  left: 0;
  height: calc(100vh - 60px);
  width: 60px;
  z-index: 2;
  background: black;
}

section.content {
  position: absolute;
  top: 0;
  padding: 50px;
  width: calc(100% - 60px);
  max-height: calc(100vh - 60px);
  margin: 0 0 0 60px;
  overflow-y: auto;
}

/*******************
FOOTER
********************/
footer {
  width: 100vw;
  height: 60px;
  background: rgb(248, 244, 4);
  position: fixed;
  bottom: 0;
  z-index: 3;
}

/* media query per altezza view.port */

@media screen and (max-height: 375px) {
}
