/******
Common Rules
*******/

/* colori */

.bg_mainblue {
  background-color: #141922;
}
.bg_darkgrey {
  background-color: #282828;
}
.text_grey {
  color: #6d6d6d;
}
.grey {
  color: #d2d2d2;
}
.dark_grey {
  color: #a3a3a3;
}
.green {
  color: #a5ea34;
}
